<!-- NAVBAR -->
<div class="col-12" style="background-color: #202020;position:fixed; top:0">
    <nav class="navbar container" style="height: 7em;">
        <a class="navbar-brand ms-5 text-light" style="font-size: 1.5em"><i
                class="bi bi-person-fill"></i> {{contact.firstname + ' ' +
            contact.lastname}} </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
        <div>
            <button class="btn btn-dark me-5" routerLink="/menu" style="background-color:#FF4C29; border-radius:10px" (click)="goBack()"><i class="bi bi-arrow-left"></i> Back to
                message list</button>
        </div>
    </nav>
</div>

<!-- CHAT -->
<div style="background-color: #252525; padding-top: 5em; display: flex; gap:2em;
    flex-direction: column; margin-top:7em; padding-bottom: 100%;">
    <!-- [class.outcoming]="element.type=='outcoming'" -- significa:"attiva la classe .outcoming se element.type è == a outcoming" -->
    <div *ngFor="let element of messages" class="d-flex col-8 offset-2" [class.outcoming]="element.type=='outcoming'" [class.incoming]="element.type=='incoming'">

        <div [class.greyIn]="element.type=='incoming'" [class.greyOut]="element.type=='outcoming'" class="allMessages d-flex
        col-3">
            <p class="col-10" *ngIf="element.deleted == true || null || undefined">Hai eliminato questo messaggio</p>
            <p class="col-10" *ngIf="element.deleted != true">{{element.message}}</p>
            <div class="col-2" *ngIf="element.type == 'outcoming'">
                <button class="btn" (click)="delete(element)"><i class="bi bi-x-circle text-danger h5"></i></button>
            </div>
        </div>

        <!-- <div *ngIf="element.deleted == true" [class.greyIn]="element.type=='incoming'" [class.greyOut]="element.type=='outcoming'" class="allMessages d-flex
        col-3">
            deleted
            <div *ngIf="element.type == 'outcoming'">
                <button class="btn" (click)="delete(element)"><i class="bi bi-x-circle"></i></button>
            </div>
        </div>

        <div *ngIf="element.deleted == false" [class.greyIn]="element.type=='incoming'" [class.greyOut]="element.type=='outcoming'" class="allMessages d-flex col-3">
            {{element.message}}
            <div *ngIf="element.type == 'outcoming'">
                <button class="btn" (click)="delete(element)"><i class="bi bi-x-circle"></i></button>
            </div>
        </div> -->
    </div>
</div>

<!-- SEND MESSAGE -->
<div class="d-flex container-fluid justify-content-center py-5" style="gap:2em;background-color: #202020; position:fixed; bottom:0">
    <input type="text" #newMessage class="col-4 px-5" style="padding:0.7em
            1em; border:none; border-radius:10px" (keydown.enter)="add(newMessage.value)" (keyup.enter)="newMessage.value= ''" placeholder="Send a message">
    <button class="btn btn-primary px-3" style="border-radius:10px" placeholder="send a message" (click)="add(newMessage.value);
            newMessage.value=''"><i class="bi bi-send-fill"></i></button>
</div>