.outcoming {
    justify-content: flex-end;
}

.incoming {
    justify-content: flex-start;
}

.greyIn {
    background-color: #ff5b3a;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.greyOut {
    background-color: rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.allMessages {
    width: 30%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1em 1.5em;
    font-size: 1.3vw;
}

p {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

#searchMessageBar {
    border: none;
    border-radius: 10px;
    padding: 1em;
}