<div class="container container-fluid d-flex justify-content-center gap-5" style="height:10em">
    <div class="d-flex flex-column">
        <i class="bi bi-book text-center" style="font-size: 2.5em"></i>
        <button class="btn btn-dark" routerLink="/contacts">Rubrica</button>
    </div>
    <div class="d-flex flex-column">
        <i class="bi bi-whatsapp text-center" style="font-size:2.5em"></i>
        <button class="btn btn-dark" routerLink="/whatsapp">Whatsapp</button>
    </div>
</div>